@model List<BeerShop.Web.Areas.Beers.Models.BeerListingViewModel>

@{
    ViewData["Title"] = "Index";
}


<style>
    .thumbnail-conrainer{
        max-height: 200px;
       
    }
        .thumbnail-conrainer img {
            height: 200px;
        }

    </style>
<h1>All craft beers</h1>
<a  asp-action="Create">Add your own</a>

<div class="row ">
    @foreach (var item in Model)
    {
        <div class="  col-sm-6 col-md-3" >
            <div class="thumbnail">
                <div class="thumbnail-conrainer"> <img class="img-responsive col-xs-12" src="@item.ImageUrl" alt="Card image cap" onerror="this.src='https://www.socabelec.co.ke/wp-content/uploads/no-photo-21.jpg'"></div>
                <div class="caption">
                    <p ><h3>@item.Name</h3> from @item.Country</p>
@*                    <p>*@
@*                        <ul class="list-group list-group-flush">*@
@*                            <li class="list-group-item">@nameof(item.Place) : @item.Place</li>*@
@*                            <li class="list-group-item"> @item.StartTime.DayOfWeek , @item.StartTime.ToString("M") at @item.StartTime.ToString("hh:mm tt")</li>*@
@*                        </ul>*@
@*                    </p>*@
                    @if (item.UserId == ViewData["UserId"].ToString() || User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <p>@item.Comments.Count Comments</p>
                </div>
            </div>
        </div>
    }
</div>

