@using System.Globalization
@model IEnumerable<BeerShop.Web.Areas.Events.Models.EventListingViewModel>

@{
    ViewData["Title"] = "Index";
}
<style>
    .thumbnail img {
        height: 250px;
        width: 100%;
    }
</style>
<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img class="img-responsive col-xs-12" src="@item.ImageUrl" alt="Card image cap">
                <div class="caption">
                    <h3>@item.Name</h3>
                    <p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">@nameof(item.Place) : @item.Place</li>
                            <li class="list-group-item"> @item.StartTime.DayOfWeek , @item.StartTime.ToString("M") at @item.StartTime.ToString("hh:mm tt")</li>
                        </ul>
                    </p>
                    @if (item.UserId == ViewData["UserId"].ToString())
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <p>@item.Comments.Count Comments</p>
                </div>
            </div>
        </div>
    }
</div>
@*//        *@
@*//    </div>*@
@*//        <tr>*@
@*//            <td>*@
@*//                @Html.DisplayFor(modelItem => item.Name)*@
@*//            </td>*@
@*//            <td>*@
@*//                @Html.DisplayFor(modelItem => item.Place)*@
@*//            </td>*@
@*//            <td>*@
@*//                @Html.DisplayFor(modelItem => item.StartTime)*@
@*//            </td>*@
@*//            <td>*@
@*//                @Html.DisplayFor(modelItem => item.Description)*@
@*//            </td>*@
@*//            <td>*@
@*//                @Html.DisplayFor(modelItem => item.ImageUrl)*@
@*//            </td>*@
@*//           <td>*@
@*//                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
@*//                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
@*//                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
@*//            </td>*@
@*//        </tr>*@

@*    </tbody>*@
@*</table>*@